:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  line-height: 10px;
}

html,
body {
  height: 100%;
  background-color: #ece8e3;
}

body,
button,
input,
select,
textarea,
th,
td {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
